DATABASE_URL=
# NEXT_PUBLIC_SUPABASE_URL=https://kvxqondusxrwjfsdknyz.supabase.co
# NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_nOeVuLHy-ef915-Z8n8T8g_HAMOtunq
STORAGE_PATH=public/attachments
MAIL_PROVIDER=smtp

SMTP_USER=
SMTP_PASS=

DEV_APP_URL=

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
# DATABASE_URL="postgresql://postgres.kvxqondusxrwjfsdknyz:ticket_system21@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# # Connect to Postgres via the shared session-mode pooler (used for migrations)
# DIRECT_URL="postgresql://postgres.kvxqondusxrwjfsdknyz:ticket_system21@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"